<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>com.servlets.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReimbursmentRequest</display-name>
    <servlet-name>CreateReimbursmentRequest</servlet-name>
    <servlet-class>com.servlets.CreateReimbursmentRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReimbursmentRequest</servlet-name>
    <url-pattern>/CreateReimbursmentRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequests</display-name>
    <servlet-name>ViewPendingRequests</servlet-name>
    <servlet-class>com.servlets.ViewPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequests</servlet-name>
    <url-pattern>/ViewPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedRequests</display-name>
    <servlet-name>ViewResolvedRequests</servlet-name>
    <servlet-class>com.servlets.ViewResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedRequests</servlet-name>
    <url-pattern>/ViewResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeInformation</display-name>
    <servlet-name>ViewEmployeeInformation</servlet-name>
    <servlet-class>com.servlets.ViewEmployeeInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeInformation</servlet-name>
    <url-pattern>/ViewEmployeeInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeInformation</display-name>
    <servlet-name>UpdateEmployeeInformation</servlet-name>
    <servlet-class>com.servlets.UpdateEmployeeInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInformation</servlet-name>
    <url-pattern>/UpdateEmployeeInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomepage</display-name>
    <servlet-name>ManagerHomepage</servlet-name>
    <servlet-class>com.servlets.ManagerHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomepage</servlet-name>
    <url-pattern>/ManagerHomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveARequest</display-name>
    <servlet-name>ApproveARequest</servlet-name>
    <servlet-class>com.servlets.ApproveARequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveARequest</servlet-name>
    <url-pattern>/ApproveARequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyARequest</display-name>
    <servlet-name>DenyARequest</servlet-name>
    <servlet-class>com.servlets.DenyARequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyARequest</servlet-name>
    <url-pattern>/DenyARequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployeesPendingRequests</display-name>
    <servlet-name>ViewAllEmployeesPendingRequests</servlet-name>
    <servlet-class>com.servlets.ViewAllEmployeesPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesPendingRequests</servlet-name>
    <url-pattern>/ViewAllEmployeesPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployeesResolvedRequests</display-name>
    <servlet-name>ViewAllEmployeesResolvedRequests</servlet-name>
    <servlet-class>com.servlets.ViewAllEmployeesResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesResolvedRequests</servlet-name>
    <url-pattern>/ViewAllEmployeesResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployees</display-name>
    <servlet-name>ViewAllEmployees</servlet-name>
    <servlet-class>com.servlets.ViewAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployees</servlet-name>
    <url-pattern>/ViewAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReimbursmentRequestsFromSingleEmployee</display-name>
    <servlet-name>ViewReimbursmentRequestsFromSingleEmployee</servlet-name>
    <servlet-class>com.servlets.ViewReimbursmentRequestsFromSingleEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbursmentRequestsFromSingleEmployee</servlet-name>
    <url-pattern>/ViewReimbursmentRequestsFromSingleEmployee</url-pattern>
  </servlet-mapping>
</web-app>